html{
    height: 100%
}

body{
    background-color: #B2BA90;
    display: flex;
    justify-content: center;
    margin: auto;
    
}

h1{
    color:#3c5047;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
}

p{
    color:#3c5047;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px
}